@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 53% 96%;
    --foreground: 210 30% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 30% 15%;
    --primary: 198 63% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 52% 86%;
    --secondary-foreground: 210 30% 15%;
    --muted: 36 35% 91%;
    --muted-foreground: 210 15% 40%;
    --accent: 24 67% 81%;
    --accent-foreground: 210 35% 17%;
    --border: 30 28% 82%;
    --input: 30 28% 82%;
    --ring: 198 63% 36%;
    --radius: 0.8rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}
